---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
import { getAllPosts } from '~/utils/posts.js';

const tagSet = new Set();
getAllPosts().forEach(({ frontmatter }) => {
  (frontmatter.tags ?? []).forEach(tag => tagSet.add(tag));
});
const tags = Array.from(tagSet);

const title = "Tags";
const description = "태그 목록";
---

<DefaultLayout {title} {description}>
  <h2>태그 목록</h2>
  <ul>
    {tags.map(tag => (
      <li>
        <a href={`/tags/${tag}`}>#{tag}</a>
      </li>
    ))}
  </ul>
</DefaultLayout>
