---
import site from '~/data/site.config.yml';
---
<footer class="siteFooter">
  <p>
    &copy; {new Date().getFullYear()} {site.siteName}.
    Powered by <a href="https://astro.build/" rel="noopener">Astro</a>
  </p>
</footer>
