---
const { siteName, description, layoutType } = Astro.props;
const Heading = layoutType === 'main' ? 'h1' : 'div';
---

<div class="logo" transition:persist>
  <Heading class="brand">
    <a href="/">
      <span class="siteName">{siteName}</span>
    </a>
  </Heading>
  <p class="tagline">{description}</p>
</div>
