---
const { siteName, description } = Astro.props;
---

<div class="logo" transition:persist>
  <div class="brand">
    <a href="/">
      <span class="siteName">{siteName}</span>
    </a>
  </div>
  <p class="tagline">{description}</p>
</div>
